:root{
  --color-primary: #5fc878;
  --color-secondary:#bce8c4;
  --color-accent:#555;
  --color-light-accent:#8a8a8a;
  --color-body:#f8f9fa;
  --color-footer:#000;
} 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:Montserrat,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-bar{
  display: flex;
  align-items: center;
  padding: 20px;

}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;

}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: var(--color-accent);

}
p{
  color: var(--color-accent);
}

.input{
  width: 350px;
  padding: 10px;
  border-radius: 30px;
  
}
.input-btn{
  background-color: var(--color-primary);
  border: none;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;

}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:space-around;
  
  
}
.row-1{
  background-image: url(./images/3-Days-best-of-kericho-safari.jpg);
  
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-header{
  text-align: center;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: var(--color-body);
}
.col-2 p{
  color: var(--color-body);
}
h2{
  color: var(--color-body);
}
.btn{
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-body);
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;

}
.header{
  background: radial-gradient(#fff,#5fc878);
}
.header .row{
  margin-top: 70px;
}
.btn:hover{
  background: var(--color-secondary);
}
.cartegories{
  margin: 70px 0;

}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width :100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left:25px;
  padding-right: 25px;

}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom:50px;
  transition: transform 0.5s;

}
.col-4 img{
  width:100%;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--color-accent);

}
.title::after{
  content: "";
  background: var(--color-primary);
  width: 80px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
}
h4{
  color: var(--color-accent);
  font-weight: normal;
}
.col-4{
  font-size: 14px;
}

.col-4:hover{
  transform:translateY(-5px)
}

.col-2 .offer-img{
  padding: 50px;
}
small{
  color: var(--color-accent);
}


.col-3 p{
  font-size: 12px;
  margin: 12px;
  color: var(--color-accent);
}
/*brands*/

.brands{
  margin: 100px auto;
}
.col-5{
  width: 160px;

}
.col-5 img{
width: 100%;
cursor: pointer;
filter:grayscale(100%)
}
.col-5 img:hover{
  filter:grayscale(0%)
}

/* footer */
.footer{
  background: var(--color-footer);
  color: var(--color-body);
  font-size: 14px;
  padding: 60px 0 20px;
  margin-top: 25px;
}
.footer p{
  color: var(--color-light-accent);

}
.footer h3{
  color: var(--color-body);
  margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;

}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
  flex-basis:12%;
  text-align: center;
}
ul{
  list-style-type: none;
}

.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;

}
.copyright{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}
/* media query for menu */


@media only screen and (max-width:800px){
  nav ul{
    position:absolute;
    top:70px;
    left: 0px;
    background: var(--color-light-accent);
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: var(--color-body);
  }
  .menu-icon{
    display:block;
    cursor: pointer;
  }
}

.comment-row{
  height: 50vh;
/* margin: auto; */
margin-bottom: 20px;
display: flex;
align-items: center;
/* justify-content: center; */
background-color: var(--color-secondary);

}
.form-input{
  margin-left: 10px;
}
.small-input{
  outline: none;
  display: block;
  margin: 5px;
  padding: 10px 10px;
  border-radius: 7px;
  border: 2px solid var(--color-primary);
  background-color:var(--color-secondary) ;
}
.comment-input{
  display: block;
  /* padding: 30px 70px; */
  margin: 5px;
  border-radius: 7px;
  border:2px solid var(--color-primary);
  background-color: var(--color-secondary);
  outline: none;
  width: 300px;
  height: 100px;
}
.comment-btn{
  /* padding: 5px 15px;
  margin-left:10px ;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #5fc878;
  color: var(--color-body);
  border: 2px solid var(--color-light-accent); */

  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-body);
  padding: 10px 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 7px;
  transition: background 0.5s;
  border: none;
  font-weight: 600;
}
.comment-text{
  font-size: medium;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* <!-----------media query for screen size less than 600---> */

@media screen and (max-width:600px) {
  .row{
    text-align: center;

  }
  col-2,col-3,col-4{
    flex-basis: 100%;
  }
}

 


